html,
body {
  font-family: 'Roboto', sans-serif;
}

.loading {
  animation: flash 1s infinite;
  text-align: center;
}

.table {
  border-top: 1px solid black;
  width: 100%;
}

.table + .table {
  border-top: none;
}

.row {
  display: flex;
  border-bottom: 1px solid black;
}

.row + .row {
  border-top: none;
}

.cell {
  width: 25%;
  padding: 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.cell + .cell {
  border-left: none;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 10px;
}

.sorted::after {
  content: '▾';
}

@keyframes flash {
  0%   { opacity: 1 }
  50%  { opacity: 0.2 }
  100% { opacity: 1 }
}
